.App{
  height: 100%;
}

.Landing{
  background-image: url("landing.jpg");
  color: white;
  /* height: 89.8vh; */
 height: 753px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  padding-top: 1px;
  padding-left: 10%;
  padding-top: 5%;
  /* padding-top: 5vh; */
}

/* Element | http://localhost:3000/ */

.Landing > h1:nth-child(2) {
  padding-top: 22px;
  padding-bottom: 20px;
  font-size: 350%;
}

/* Element | http://localhost:3000/ */

.Landing > h3:nth-child(3) {
  padding-bottom: 15px;
}

.p{
  height: 100%;
}
h3{
  font-family: 'Martel', serif;
  
  
}
h1{
  font-family: 'Pacifico', cursive;
}
p{
  font-family: 'Martel', serif;
  font-size: 25px;
  
  
}
.Logo{
  width: 40%;
  height: 20%;
  position: relative;
  right: 7%;
  
  
}
.formss{
  width:30%;
  
}

.icons{
  /* position: absolute;
  left: 7%;
  top: 40%;
  display: flex;
  flex-direction: column; */
  position: absolute;
  /* top: 82%; */
  left: 18%;
  bottom:17%;
  
}

i{
  font-size: 35px;
}

.fa-facebook{
  color:  #24a0ed;
  padding-right: 10px;
}
.fa-facebook:hover{
color:red;
}
.fa-instagram{
  color: #c4328a;
  padding-right: 10px;
}
.fa-instagram:hover{
  color:red;
  }
.fa-linkedin{
  color: rgb(17, 233, 225);
  padding-right: 10px;
}
.fa-linkedin:hover{
  color:red;
  }
.fa-envelope{
  color: rgb(24, 209, 251);
}
.fa-envelope:hover{
  color:red;
  }

.font_h3{
  font-size: 30px;
  
}


#formBasicEmail {
  
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Inline #5 | http://localhost:3001/Indas_International */

.form-control::placeholder {

  font-size: 20px;
}

